:root {
  --color-primario: #324183;
  --color-secundario: #e74c3c;
  --color-acento: #f3b712;
  --color-fondo: #f8f9fa;
  --color-texto: #2c3e50;
  --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
  --borde-radius: 8px;
  --transicion: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--color-fondo);
  color: var(--color-texto);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

/* ================= Desktop Menu ================= */
.desktop-menu {
  display: none;
}

.desktop-menu li {
  list-style: none;
  margin-left: 10px;
}

.desktop-menu a {
  background-color: var(--color-primario);
  color: #fff;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  transition: var(--transicion);
}

.desktop-menu a:hover {
  background-color: var(--color-acento);
  color: var(--color-primario);
}

/* ================= Mobile Menu ================= */

.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: white;
  border-radius: 4px;
}

.mobile-menu {
  display: none; /* default hidden */
  place-items: center;
  flex-direction: column;
  gap: 14px;
  background: var(--color-primario);
  padding: 16px;
  position: absolute;
  top: 70px;
  right: 10px;
  width: calc(100% - 20px);
  border-radius: 8px;
  box-shadow: var(--sombra);
list-style: none;
}

.mobile-menu a {
  color: var(--color-fondo);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

/*Hover effect*/
.mobile-menu a:hover {
    background-color:var(--color-acento);
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    transition: var(--transicion);
}


/* ================= Responsive ================= */

@media (min-width: 768px) {
  /* burger menu hidden desktop */
  .menu-toggle {
    display: none;
  }

  /* show menu desktop */
  .desktop-menu {
    display: flex;
  }

  /* hidden menu items mobile */
  .mobile-menu {
    display: none !important;
  }
}
